body {
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text color */
  font-family: Arial, sans-serif; /* Font family for text */
  margin: 0;
  padding: 0px;
}
#video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}

#content {
  background-color: rgba(70, 70, 70, 0.5); /* Adjust the RGB values and opacity as needed */
  padding: 30px; /* Adjust the padding as needed */
  border-radius: 30px;

}


body #content #search-box {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 10px;
    z-index: 9999;
  }
  
#content #search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

#content #search-box input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #555; /* Darker input box background */
    color: #fff; /* White text color */
    font-size: 16px;
    width: 200px;
  }
  
#content #search-box button {
    padding: 5px 10px;
  }

  .result-message {
    position: fixed;
    top: calc(100% + 10px);
    right: 0;
    margin-top: 10px;
    z-index: 9999;
    font-weight: bold;
  }
  
#content #button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555; /* Darker button background */
    color: #fff; /* White text color */
    font-size: 16px;
    cursor: pointer;
  }